.products-parent-container {
   width: 95%;
   max-width: 1200px;
   min-height: 91vh;
   background: white;
   box-shadow: 0px 0px 3px rgb(228, 228, 228);
   margin: 2px auto 0;
   padding: 25px;
   box-sizing: border-box;
}

.product-container-left {

}






.products-left {
   width: 100%;
   height: 400px;
   background:rgb(243, 243, 243);
   overflow-y: scroll;
   margin-bottom: 20px;
   border-radius: 5px;
}

.products-right {
   width: 100%;
   height: 400px;
   background:rgb(243, 243, 243);
   margin-top: 10px;
   border-radius: 5px;
}

/* PRODUCT LIST */
.product-list {
   padding: 10px;
}

.unique-product {
   margin-top: 10px;
   padding: 10px;
   background:rgb(221, 221, 221);
   border-radius: 5px;
}

.unique-product:first-child {
   margin-top: 0px;
}

.unique-product span{
   font-size: 0.95em;
   width: 100%;
   margin-top: 5px;
   display: block;
}



/* MEDIA QUERIES */
@media(min-width: 769px) {
   .products-parent-container {
      min-height: 800px;
   }



   .product-container-left {
      max-width: 400px;
      min-height: 100%;
      float:left;
   }

   .products-left {
      min-height: 100%;
      width: 300px;
   }
   





   .product-container-right {
      width: 600px;
      min-height: 100%;
      float:left;
      margin-left: 40px;
   }


   .products-right {
      float: left;
      margin-top: 0px;
   }
}