.products-parent-container {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;
   padding: 35px;
   background: white;
}

.products-container-left {
   display: flex;
   flex-direction: column;
   height: 400px;
   margin-bottom: 30px;
}

.products-left {
   flex: 1;
   background:rgb(240, 240, 240);
   border-radius: 5px;
   overflow-y: scroll;
}

.products-container-right {
   display: flex;
   flex-direction: column;
   position: relative;
}

.products-container-right > .edit-product-status {
   position: absolute;
   top: 6px;
   left: 175px;
   color: rgb(28, 180, 23);
   animation: fade 0.75s linear;
}

.products-right {
   display: flex;
   flex-direction: column;
   padding: 15px;
   background:rgb(240, 240, 240);
   border-radius: 5px;
}


/* PRODUCT DETAILS */
.product-details-top {
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
   font-size: 0.9em;
}

.product-details-top-left {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.product-details-top-right {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.products-container-bottom {
   display: flex;
   flex-direction: column;
}

.products-container-bottom-left {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.products-container-bottom-right {
   flex: 1;
   display: flex;
   flex-direction: column;
   position: relative;
}

.products-container-bottom-right .add-note {
   position: absolute;
   top: 0;
   right: 5px;
   text-decoration: underline;
   color: blue;
   font-size: 0.85em;
}

.products-container-bottom-right .add-note:active {
   color: orange;
}

.products-right > span {
   font-size: 0.9em;
   display: block;
   margin-bottom:5px;
}

.products-right > span:first-child {
   display: block;
}

.static-span {
   height: 27px;
   margin-top: 5px;
   margin-bottom: 2px !important;
   margin-left: 5px;
   font-size: 0.9em;
}

.products-right input {
   font-size: 0.9em;
   margin-bottom: 9px;
   padding: 5px;
   border: none;
   border-radius: 3px;
}

.products-right input[disabled] {
   background: rgb(225, 225, 225);
}

.products-button-container{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.products-button-container button{
   width: 100%;
   height: 30px;
   font-size: 0.9em;
   border-radius: 3px;
   border: none;
   padding: 2px;
   cursor: pointer;
}

.products-button-container > .settings-edit-button {
   width: 70%;
}

.products-button-container > .products-cancel-button, .settings-save-button {
   max-width: 32%;
}

.products-cancel-button {
   margin-right: 6%;
   background: rgb(185, 185, 185);
}


.product-client-list {
   flex-grow: 1;
   min-height: 350px;
   background:rgb(220, 220, 220);
   border-radius: 5px;
   margin-top: 5px;
   padding: 10px;
   overflow-y: scroll;
   font-size: 0.9em;
}

.unique-client-row {
   font-size: 0.95em;
   background: rgb(200, 200, 200);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.unique-client-row span {
   margin: 0 0 6px 0;
}

.unique-client-row span:last-of-type {
   margin: 0;
}

.unique-client-row:first-child {
   margin-top: 0px;
}

.product-notes {
   min-height: 350px;
   flex-grow: 1;
   background:rgb(220, 220, 220);
   margin-top: 5px;
   padding: 10px;
   border-radius: 5px;
   overflow-y: scroll;
   font-size: 0.9em;
}

.unique-note{
   font-size: 0.9em;
   background: rgb(200, 200, 200);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px; 
}

.unique-note:first-child {
   margin-top: 0px;
}

.unique-note > span {
   display: block;
   margin: 0 0 6px 0;
   font-weight: 700;
}

.unique-note > span:last-of-type {
   margin: 0;
}

.unique-note > span > span {
   display: inline-block;
   font-weight: 400;
}

.unique-note > span > .note {
   display: inline;
   line-height: 15px;
}

/* PRODUCT LIST */
.product-list {
   padding: 10px;
   font-size: 0.9em;
}

.unique-product {
   position: relative;
   margin-top: 10px;
   padding: 10px;
   border-radius: 5px;
   background:rgb(220, 220, 220);
}

.unique-product:first-child {
   margin-top: 0px;
}

.unique-product > span {
   margin-top: 5px;
   display: block;
   font-weight: 700;
}

.unique-product span:first-child{
   margin-top: 0px;
}

.unique-product > span > span {
   font-weight: 400;
}

.unique-product a{
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 0.9em;
   text-decoration: underline;
   color: blue;
}


@media(min-width: 450px) {
   .products-parent-container {
      align-items: center;
   }

   .products-container-left {
      width: 400px;
   }

   .products-container-right {
      width: 400px;
   }
}




@media(min-width: 768px) {
   .products-container-left {
      margin-bottom: 35px;
   }

   .products-container-right {
      width: 650px;
      min-height: 100%;
   }
   
   .products-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
   }

   /* PRODUCT DETAILS */
   .product-details-top {
      flex-direction: row;
   }

   .product-details-top-right {
      margin-left: 25px;
   }

   .products-container-bottom {
      flex-direction: row;
      flex-grow: 1;
   }

   .products-container-bottom-left {
      margin-bottom: 0px;
   }

   .products-container-bottom-right {
      margin-left: 20px;
   }

}

@media(min-width: 1024px) {
   .products-parent-container {
      flex-direction: row;
      align-items: stretch;
   }

   .products-container-left {
      flex: 1;
      height: 750px;
      margin-bottom: 0px;
   }

   .products-container-right {
      flex: 2;
      width: auto;
      height: 750px;
      margin-left: 40px;
   }

   .product-client-list {
      max-height: 100%;
   }

   .product-notes {
      max-height: 100%;
   }

}