.products-parent-container {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;
   padding: 35px;
   background: white;
}

.products-container-left {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.products-left {
   height: 400px;
   background:rgb(243, 243, 243);
   border-radius: 5px;
   overflow-y: scroll;
}

.products-container-right {
   display: flex;
   flex-direction: column;
}

.products-right {
   display: flex;
   flex-direction: column;
   padding: 20px;
   background:rgb(243, 243, 243);
   border-radius: 5px;
}


/* PRODUCT DETAILS */
.product-details-top {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.product-details-top-left {
   flex-grow: 1;
}

.product-details-top-right {
   flex-grow: 1;
}

.products-container-bottom {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.products-container-bottom-left {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.products-container-bottom-right {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}


.products-right span {
   font-size: 0.95em;
   display: block;
   margin-bottom:8px;
}

.products-right span:first-child {
   display: block;
}

.product-client-list {
   flex-grow: 1;
   max-height: 350px;
   background:rgb(221, 221, 221);
   border-radius: 5px;
   padding: 10px;
   overflow-y: scroll;
}

.unique-client-row {
   font-size: 0.95em;
   background: rgb(201, 201, 201);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.unique-client-row span {
   margin: 5px 0 0 0;
}

.unique-client-row:first-child {
   margin-top: 0px;
}

.product-notes {
   max-height: 350px;
   flex-grow: 1;
   background:rgb(221, 221, 221);
   padding: 10px;
   border-radius: 5px;
   overflow-y: scroll;
}

.unique-note{
   font-size: 0.95em;
   background: rgb(201, 201, 201);
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px; 
}

.unique-note:first-child {
   margin-top: 0px;
}

.unique-note span {
   margin: 5px 0 0 0;
}

/* PRODUCT LIST */
.product-list {
   padding: 12px;
}

.unique-product {
   margin-top: 10px;
   padding: 12px;
   border-radius: 5px;
   background:rgb(221, 221, 221);
}

.unique-product:first-child {
   margin-top: 0px;
}

.unique-product span{
   font-size: 0.95em;
   margin-top: 5px;
   display: block;
}



@media(min-width: 769px) {
   .products-parent-container {
      flex-direction: row;
   }

   .products-container-left {
      flex: 1;
      min-height: 100%;
      margin-bottom: 0px;

   }
   
   .products-left {
      flex-grow: 1;
   }

   .products-container-right {
      flex: 2;
      min-height: 100%;
      margin-left: 40px;
   }
   
   .products-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
   }

   /* PRODUCT DETAILS */
   .product-details-top {
      flex-direction: row;
   }

   .products-container-bottom {
      flex-direction: row;
      flex-grow: 1;
   }

   .products-container-bottom-left {
      /* max-width: 276px; */
      margin-bottom: 0px;
   }

   .product-client-list {
      max-height: 100%;
   }

   .products-container-bottom-right {
      /* max-width: 276px; */
      margin-left: 20px;
   }

   .product-notes {
      max-height: 100%;
   }

}