.tasks-parent-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 35px;
   background: white;
}

.tasks-child-left {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 600px;
   height: 400px;
   margin-bottom: 25px;
}

.tasks-child-left-inner {
   display: flex;
   flex-direction: column;
   flex: 1;
   background: rgb(240, 240, 240);
   border-radius: 5px;
   padding: 12px;
   overflow-y: scroll;
}

.tasks-child-right{
   display:flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.tasks-child-right1 {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 450px;
   height: 375px;
   margin-bottom: 25px;
}

.tasks-child-right-inner {
   display: flex;
   flex-direction: column;
   flex: 1;
   background: rgb(240, 240, 240);
   border-radius: 5px;
   padding: 20px;
}


/* EXISTING TASKS */
.tasks-existing-task {
   background: rgb(220, 220, 220);
   padding: 8px;
   margin-bottom: 12px;
   border-radius: 3px;
   position: relative;
}

.tasks-existing-task:last-of-type {
   margin-bottom: 0px;
}

.tasks-existing-task span {
   display: block;
   font-size: 0.95em;
   padding: 2px 5px 2px 0;
}

.tasks-existing-task a {
   position: absolute;
   top: 8px;
   right: 8px;
   font-size: 0.9em;
   text-decoration: underline;
}


/* EDIT TASK */
.tasks-child-right-inner span{
   margin-bottom: 4px;
}

.tasks-child-right-inner input{
   font-size: 0.9em;
   margin-bottom: 15px;
   padding: 5px;
   border: none;
   border-radius: 3px;
}

.tasks-child-right-inner input[disabled] {
   background: rgb(220, 220, 220);
}

.tasks-child-right-inner textarea{
   border: none;
   border-radius: 3px;
   font-size: 0.9em;
   margin-bottom: 15px;
   padding: 5px;
}

.tasks-child-right-inner textarea[disabled] {
   background: rgb(220, 220, 220);
}

.tasks-child-right-inner button {
   font-size: 0.9em;
   width: 250px;
   height: 30px;
   margin: 10px auto 0 auto;
   border: none;
   border-radius: 2px;
   cursor: pointer;
}

.tasks-child-right-inner div{
   display: flex;
   justify-content: center;
}

.tasks-child-right-inner div button {
   width: 40%;

}




.settings-create-button {
   background: rgba(82, 241, 76, 0.8);
}

.settings-edit-button {
   background: rgba(185, 185, 185, 0.8);
}

.settings-save-button {
   background: rgba(82, 241, 76, 0.8);
}

.settings-create-button {
   background: rgba(82, 241, 76, 0.8);
}

/*CREATE TASK*/
.tasks-child-right2 {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 450px;
   height: 375px;
}

@media(min-width:1024px) {
   .tasks-parent-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      flex: 1;
   }

   .tasks-child-left {
      width: auto;
      height: auto;
      max-height: 763px;
      flex: 1;
      margin-bottom: 0px;
   }

   .tasks-child-right {
      width: auto;
      height: auto;
      flex: 1;
      margin-left: 30px;
   }

}