.tasks-parent-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25px 35px;
   background: white;
}

.tasks-child-left {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 450px;
   height: 400px;
   margin-bottom: 30px;
}

.tasks-child-left-inner {
   display: flex;
   flex-direction: column;
   flex: 1;
   background: rgb(240, 240, 240);
   border-radius: 5px;
   padding: 10px;
   overflow-y: scroll;
}

.tasks-child-right{
   display:flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.tasks-child-right1 {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   max-width: 450px;
   height: 350px;
   margin-bottom: 30px;
}

.tasks-child-right1 .edit-task-status {
   position: absolute;
   top: 40px;
   right: 15px;
   color: rgb(28, 180, 23);
   animation: fade 0.75s linear;
}

@keyframes fade {
   0%,100% { opacity: 0; }
   100% { opacity: 1; }
}

.tasks-child-right-inner {
   display: flex;
   flex-direction: column;
   flex: 1;
   background: rgb(240, 240, 240);
   border-radius: 5px;
   padding: 20px;
}


/* EXISTING TASKS */
.tasks-existing-task {
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   position: relative;
   background: rgb(220, 220, 220);
   font-size: 0.9em;
}

.tasks-existing-task:last-of-type {
   margin-bottom: 0px;
}

.tasks-existing-task > span {
   display: block;
   margin-bottom: 6px;
   font-weight: 700;
}

.tasks-existing-task span:last-of-type {
   margin-bottom: 0px;
}

.tasks-existing-task > span > span{
   font-weight: 400;
}


.tasks-existing-task a {
   position: absolute;
   top: 12px;
   right: 12px;
   font-size: 0.9em;
   text-decoration: underline;
}


/* EDIT TASK */
.tasks-child-right-inner span{
   display: block;
   margin-bottom: 5px;
   font-size: 0.95em;
}

.tasks-child-right-inner input{
   height: 28px;
   box-sizing: border-box;
   margin-bottom: 15px;
   padding: 5px;
   font-size: 1em;
   border-radius: 3px;
   border: none;
}

.tasks-child-right-inner input[disabled] {
   background: rgb(225, 225, 225);
}

.tasks-child-right-inner textarea{
   border: none;
   border-radius: 3px;
   font-size: 0.9em;
   margin-bottom: 15px;
   padding: 5px;
}

.tasks-child-right-inner textarea[disabled] {
   background: rgb(225, 225, 225);
}

.tasks-child-right-inner button {
   font-size: 0.9em;
   width: 250px;
   height: 30px;
   margin: 5px auto 0 auto;
   border: none;
   border-radius: 2px;
   cursor: pointer;
}

.tasks-child-right-inner div{
   display: flex;
   justify-content: center;
}

.tasks-child-right-inner div button {
   width: 40%;

}

.settings-create-button {
   background: rgba(82, 241, 76, 0.7);
}

.settings-edit-button {
   background: rgb(185, 185, 185);
}

.settings-save-button {
   background: rgba(82, 241, 76, 0.7);
}

.settings-cancel-button {
   background: rgb(185, 185, 185);
}

/*CREATE TASK*/
.tasks-child-right2 {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   max-width: 450px;
   height: 350px;
}

.tasks-child-right2 > .create-task-status {
   position: absolute;
   top: 40px;
   right: 15px;
   color: rgb(28, 180, 23);
   animation: fade 0.75s linear;
}

@media(min-width:1024px) {
   .tasks-parent-container {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      flex: 1;
   }

   .tasks-child-left {
      width: auto;
      height: auto;
      max-height: 732px;
      flex: 1;
      margin-bottom: 0px;
   }

   .tasks-child-right {
      max-width: 450px;
      height: auto;
      flex: 1;
      margin-left: 75px;
   }

}