.create-user-table {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto 40px auto;
   border-radius: 3px;
   font-size: 1em;
   overflow-x: scroll;
}

.create-user-table > table {
   min-width: 785px;
   width: 100%;
   height: 65px;
   display: inline-block;
   font-size: 0.75em;
}

.create-user-table > table > thead {
   display: inline;
}

.create-user-table > table > thead > tr {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-weight: 600;
   background: rgb(230, 230, 230);
   border-bottom: 2px solid rgb(200, 200, 200);
}

.create-user-table > table > thead > tr > th {
   min-width: 105px;
   padding: 6px 7px 6px 9px;
   text-align: left;
}

.create-user-table > table > thead > tr > th:nth-child(6) {
   min-width: 145px;
   text-align: center;
}

.create-user-table > table > tbody {
   height: 34px;
   display: block;
   overflow-y: scroll;
   background: rgb(245, 245, 245);
}

.create-user-table > table > tbody > tr {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.create-user-table > table > tbody > tr > td {
   min-width: 105px;
   padding: 5px 8px 6px 8px;
}

.create-user-table > table > tbody > tr > td:nth-child(6) {
   min-width: 145px;
}

.create-user-table > table > tbody > tr > td > input {
   width: 100px;
   padding: 3px;
   border: 1px solid #e6ecf0;
   border-radius: 3px;
}

.create-user-table > table > tbody > tr > td > button.update {
   padding: 4px 15px;
   background: rgb(145, 255, 140);
   border-radius: 3px;
   border: none;
   cursor: pointer;
   outline: none;
}

.create-user-table > table > tbody > tr > td > button.update {
   padding: 4px 15px;
   background: rgb(145, 255, 140);
   border-radius: 3px;
   border: none;
   cursor: pointer;
   outline: none;
}

.create-user-table > table > tbody > tr > td > button.cancel {
   margin-left: 12px;
   padding: 4px 15px;
   background: rgb(206, 206, 206);
   border-radius: 3px;
   border: none;
   cursor: pointer;
   outline: none;
}


/* EDIT PROPMPT */
.create-user-table table > tbody > tr > td.edit-prompt {
   padding: 0 0 4px 0;
}

/* EDIT SUCCESSFUL */
.create-user-table > .status {
   position: absolute;
   top: 501px;
   left: 170px;
   color: rgb(25, 207, 19);
   font-weight: 600;
   animation: fade 0.75s linear;
}