.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: linear-gradient(25deg, #393d41, #2c83e6);
}

@media(max-width: 769px) {
  .login-page {
    background: white;
  }

}